MLFLOW_TRACKING_URI=http://mlflow:5000
WORLD=http://host.docker.internal:5000

# MinIO credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me

# Postgres credentials
POSTGRES_USER=mlflow_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=mlflow_db
